{{# with task }}
  <h1> {{ this.title }} </h1>
  {{# if this.description }}
    <p> {{ this.description }} </p>
  {{/if }}
  {{> participant-list }}
{{/with}}
{{# if expense.image_id }}
  {{! TODO: factor out this path somehow }}
  <img src="/thumb/{{ task.image_id }}/640x480" />
{{/if}}
{{# if task.is_owner }}
<p><a href="/task/{{ task.id }}/delete">Delete Task</a></p>
{{/if}}
